body{
    margin: 0;
    background-color: #FFF;
}

$primary-color: #333;

@mixin top_title($color: #001F3D, $width: 578px){
    color: $color;
    width: $width;
    font-family: Oswald;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
}

@mixin small_card__top_title{
    color:  $primary-color;
    font-family: Oswald;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

@mixin box_description($color: #000){
    color: $color;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
}

@mixin button($width: 240px, $height: 50px, $background-color: #FFFFFF, $border: 1px solid #000){
    @include box_description;
    width: $width;
    height: $height;
    background-color: $background-color;
    text-align: center;
    margin-top: 30px;
    border: $border;
    transition: transform 300ms ease-in-out;

   a{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        color: #000;
   }
}

@mixin footer_info($width: 223px){
    width: $width;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

    span{
        color: #FFF;
        font-family: Oswald;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 180.804%;
    }

    ul{
        color: #FFF;
        font-family: Oswald;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 180.804%;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

@mixin modal__line_description{
    font-size: 18px;
    font-weight: 400;
}



body, input {
    font-family: Oswald;
}

a{
    text-decoration: none;
}

button{
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 33px 60px;
    align-items: center;
}

.nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 475px;
    gap: 45px;
    justify-content: center;
    text-transform: uppercase;

    
}

.nav a{
    color: $primary-color;
    position: relative;
}

.nav a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: $primary-color;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

.nav a:hover::before{
    width: 100%;
}

.search{
    display: flex;
    align-items: center;   
    width: 270px;
    height: 40px;
    border-radius: 54px;
    border: 1px solid #A04955;

    a{
        margin-left: 38px;
        display: flex;        
    }

    input{
        margin-left: 5px;
        width: -webkit-fill-available;
        height: 38px;
        padding: 0;
        border-radius: 0px 54px 54px 0;
        border: none;
        outline: none;
    }
}

.best_selling_box{
    display: flex;
    margin-top: 90px;
    margin-bottom: 90px;
    justify-content: space-around;
    align-items: center;

    img{
        width: 100%;
    }

   .text_content__container{
        display: flex;
        flex-direction: column;
        margin-right: 85px;
        max-width: 40%;
        margin-left: 50px;

       h2{
            @include top_title;
            margin: 0;
       }

       span{
            @include box_description;
            margin-top: 10px;
       }

        button{
           @include button;
        }
    }

    .img_container{
        max-width: 48%;

        img{
            width: 100%;
        }
    }
}


.text_content__container button:hover{
    transform: scale(1.1);
}

.now_off_box__1__container{
    background-color: #F1F1F1;
    width: 100%;
    height: 785px;
}

.now_off__1__text_content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.now_off__1__text_content :first-child{
    margin-top: 80px;
    color: $primary-color;
    font-family: Oswald;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
}

.now_off__1__text_content :nth-child(2){
    color: $primary-color;
    font-family: Oswald;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 23px;
}

.now_off__1__content_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.now_off__1__card{
    width: 280px;
    height: 455px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.now_off__1__img{
    margin-top: 32px;

    img{
        width: 165px;
        height: 165px;
    }
}

.now_off__1__prod_name{
    margin-top: 5px;
    width: 190px;
    height: 85px;
    text-align: center;
    @include small_card__top_title;
}

.now_off__1__prod_brand{
    opacity: 0.6;
}

.now_off__1__now_off__1__prod_stars{
    width: 150px;
    height: 24.359px;
    margin-top: 5px;
}

.now_off__1__prod_price{
    width: 180px;
    color: $primary-color;
    text-align: center;
    font-family: Oswald;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    margin-top: 5px;

    span{
        color: $primary-color;
        font-family: Oswald;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        margin-left: 5px;
    }
}

.button__add_to_cart{

    button{
        width: 130px;
        height: 35px;
        margin-top: 25px;
        background: #A04955;
        border: none;
    }
    
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-family: Oswald;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;  
    }

    img{
        margin-top: 7px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}

.sale_prod_and_new_prod__box{
    background-color: #F1F1F1;
    height: 974px;
    display: flex;
    justify-content: center;

    button{                                                         
        @include button($width: 366px);
    }
}

.sale_prod_and_new_prod__box button:hover{
    transform: scale(1.1);
}

.sale_prod_and_new_prod__card{
    width: 549px;
}

.sale_prod__container{
    margin-top: 107px;
    margin-right: 36px;
    margin-left: 152px;
}

.new_prod__container{
    margin-top: 107px;
    margin-right: 152px;
}

.sale_prod_and_new_prod__description{
    @include box_description;
    text-align: center;
    margin-top: 35px;
}

.sale_prod_and_new_prod__img_container{
    position: relative;

    span{
        position: absolute;
        left: 105px;
        bottom: 16px;
        color: #FFF;
        font-family: Oswald;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
    }
}

.sale_prod_and_new_prod__img_container img:nth-child(2){
    position: absolute;
    bottom: 5px;
    opacity: 0.8;
}

.sale_prod_and_new_prod__card div:last-child{
    text-align: center;
}

.original_pant{
    background-image: url(../img/main_page__content/original_pant.png);
    height: 532px;
    background-repeat: no-repeat;
    background-size: cover;
}

.original_pant{
    display: flex;
}

.original_pant__card{
    width: 578px;
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    margin-left: 152px;

    button{
        @include button($width: 405px, $background-color: #A04955, $border: none);

        a{
            color: #FFF;
        }
    }
}

.original_pant__card button:hover{
    transform: scale(1.1);
}

.original_pant__top_title{
    @include top_title($color: #FFF)
}

.original_pant__description{
    @include box_description($color: #FFF);
}

.stay_in_trend__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.stay_in_trend_box{
    background-color: #A04955;
    width: 100%;
    height: 339px;
    display: flex;
    margin-top: 90px;
    justify-content: center;
}

.stay_in_trend__card_container{
    display: flex;
    position: absolute;
    top: 260px;
    width: 80%;
}

.stay_in_trend_box__top_title{
    @include top_title($color: #FFF, $width: 824px);
    margin-top: 30px;
}

.stay_in_trend__card{
    width: 314px;
    height: 352px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    border: 1px solid #A04955;

    img{
        width: 185px;
        height: 214px
    }

    span{
        @include small_card__top_title;
    }

    button{
        @include button($width: 242px, $height: 40px, $background-color: #A04955, $border: none);
        font-size: 18px;
        a {
            color: #FFF;
        }
    }
}

.stay_in_trend__card button:hover{
    transform: scale(1.1);
}

.stay_in_trend__card_container div:nth-child(2){
    margin-left: 100px;
    margin-right: 100px;
}

.family_legacy_container{
    margin-top: 414px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.family_legacy_box{
    width: 1214px;
    height: 412px;
    background: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    span{
        @include box_description;
    }

    button{
        @include button($width: 261px, $height: 55px, $background-color: #F3F3F3,)
    }
}

.family_legacy_box button:hover{
    transform: scale(1.1);
}

.family_legacy_logo{
    position: absolute;
    top: -160px;
}

.family_legacy__top_title{
    @include top_title($width: 604px);
    margin-top: 15px;
}


//  FOOTER


.footer_container{
    height: 420px;
    background: #A04955;
    display: flex;
    justify-content: space-evenly;

    a{
        color: #FFF;
    }
}

.all_rights_reserved{
    color: rgba(0, 0, 0, 0.50);
    font-family: Oswald;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180.804%;
    margin: 10px 0 10px 60px;
}



.ordering_online{
    @include footer_info;
    margin-left: 85px;
}

.about_sportif{
    @include footer_info($width: 179px);
}

.quick_links{
    @include footer_info($width: 165px);
}

.get_to_know_us{
    @include footer_info($width: 627px);
    display: flex;
    flex-direction: column;
}

.get_to_know_us li:nth-child(2){
    margin-top: 30px;
    margin-bottom: 20px;
}

.mail_container{
    width: 515px;
    height: 61px;
    background: #F3F3F3;

    input{
        font-family: Oswald;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 180.804%;
        border: none;
        outline: none;
        background: #F3F3F3;
        height: 97%;
        width: 65%;
    }

    button{
        background: #A04955;
        width: 167px;
        height: 43px;
        float: right;
        border: none;
        margin-top: 9px;
        margin-right: 9px;
    }

    a{
        color: #F3F3F3;
        font-family: Oswald;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 180.804%;
        width: 167px;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.mail_container input::placeholder{
    color: #A04955;
    padding: 0 0 0 25px;
}

.back_to_top{
    background: #fad7d700;
    border: none;
    width: 91px;
    height: 91px;
    position: fixed;
    top: 180px;
    right: 100px;
    transition: transform 300ms ease-in-out;
    visibility: hidden;
    cursor: pointer;
}

.back_to_top:hover{
    transform: scale(1.1);
}

.visible{
    visibility: visible;
}

// catalog pages

.main_nav{
    ul{
        display: flex;
        list-style: none;
        margin-left: 20px;
    }

    li{
        display: flex;
        align-items: center;
        color: #000;
        text-align: center;
        font-family: Oswald;
        font-style: normal;
        font-weight: 400;
    }

    a{
        color: #000;
        margin-left: 10px;
        font-size: 13px;
    }
}

.main_nav li:nth-child(2){
    img{
        width: 10px;
    }

    font-weight: 500;
}

.main_nav li:nth-child(1){
    img{
        width: 15px;
    }

    a{
        opacity: 0.6;
    }
}

.main_nav li:nth-child(2),
.main_nav img:nth-of-type(2){
    margin-left: 16px;
}

.catalog_page__container{
    display: flex;
    background: #F1F1F1;
    margin-top: 30px;
}

//  ліва колона фільтрів

.left_filter__container{
    width: 315px;
    height: 900px;
    border: 1px solid #A04955;
    background: #FFF;
    margin: 20px 55px 0 60px;
    display: flex;
    flex-direction: column;
    margin-bottom: 76px;
}

.filter_size{
    width: 315px;
    height: 100px;

    img{
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}



.filters_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 28px 12px 28px;
}

.filters_title__text{
    color: #000;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 180.804%;
    letter-spacing: 4px;
}

.border_container{
    display: flex;
    justify-content: center;

    .border{
        border-bottom: 1px solid #A04955;
        margin-top: 22px;
        width: 265px;
    }
}

.filter_size__content{                            
    gap: 10px;                                
    flex-wrap: wrap;                         
    display: none;
    margin-top: 12px;
    margin: 0px 27px 0 28px;
}


.rotateImg{
    transition: transform 1.1s ease;
    cursor: pointer;
}

.rotate{
    transform: rotate(-180deg);
    
}

.rectangle{
    width: 40px;
    height: 40px;
    background: #F1F1F1;
    display: flex;                          
    justify-content: center;               
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid transparent;
}

.active{
    border: 2px solid red !important;
}

.filter_brand{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    transition: top 0.2s ease;
}

.filter_brand__content{
    margin-left: 28px;
    display: none;
    flex-direction: column;

    label, input{
        cursor: pointer;
        
    }
}

.filter_brand__content label:hover {
    color: rgba(0, 0, 0, .2);
}

.filter_inseam{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    transition: top 0.2s ease;
}

.filter_inseam__content{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 28px;
    line-height: 33.5px;

    button{
        border: none;
        margin-bottom: 10px;
        background-color: white;
        cursor: pointer;

        span{
            font-family: 'Oswald';
            font-size: 15px;
            font-weight: 400;
        }
    }
}

.filter_inseam__content > button > span:hover{
    color: rgba(0, 0, 0, .2);
}

.active_inseam{
    color: red;
    font-weight: 800 !important
}

//



.content_container{
    margin-top: 20px;
    margin-bottom: 76px;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

// картка товару (каталог)

.prodCard{
    width: 315px;
    height: 555px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .prodCard__img{
        margin-top: 24px;

        img{
            width: 222px;
            height: 222px;
        }
    }

    .prodCard__name{
        color: #000;
        text-align: center;
        font-family: Oswald;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 14px;
        height: 65px;
    }

    .prodCard__brand{
        opacity: 0.6;
    }

    .prodCard__stars{
        margin-top: 10px;
    }

    .prodCard__price{
        color: #333;
        text-align: center;
        font-family: Oswald;
        font-size: 18px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
        margin-top: 10px;
        margin-bottom: 13px;

        span{
            color: #333;
            font-family: Oswald;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-left: 7px;
        }
    }
}

.colors_line{
    display: flex;
    gap: 10px;
    height: 28px;

    .color_option{
        width: 28px;
        height: 28px;
        border: 2px solid transparent; 
        cursor: pointer;
    }

    img{
        width: 28px;
        height: 28px;
    }
}


//


// Модальне вікно 

.modal_container__background{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 2;
}


.modal_container{
    width: 95%;
    max-width: 1228px;
    height: 80vh;
    background-color: #FFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.modal_menu{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.modal__img_container{
    position: relative;
    display: flex; 
    overflow: hidden;  
    
}

.modal__zoom_container{
    width: 474px;
    height: 474px;
    cursor: zoom-in;
    overflow: hidden;
}

.modal__product_image{
    width: 100%;
    transition: transform 0.3s;
    transform-origin: 0 0;
}

.modal__product_image.zoomed{
    cursor: move;
}


.modal__content_container{
    margin-left: 70px;
    width: 42%;
}

.modal__title{
    font-family: Oswald;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.modal__prod_stars{
    width: 150px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.modal__price{
    @include modal__line_description;
    line-height: normal;
    display: flex;
    flex-direction: column;

    span{
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
    }
}

.modal__prod_colors{
    margin-top: 10px;
    span{
        @include modal__line_description;
    }
    
    .modal__colors_line{
        display: flex;

        .modal__color_option{
            margin: 7px 10px 7px 0;
            width: 35px;
            height: 35px;
            border: 2px solid transparent;
            cursor: pointer;
        }
    }
}



.modal__prod_size{
    margin-top: 3px;
    span{
        @include modal__line_description;
    }

    div{
        display: flex;
    }
}

.modal__rectangle{
    width: 46px;
    height: 32px;
    border: 1px solid #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 15px 0 0;
    cursor: pointer;
}

.modal__add_buttons{
    display: flex;
    justify-content: space-between;
}

.modal__button_add_to_cart{
    @include button($width: 245px,$height: 56px, $background-color: #B93B54, $border: none);

    img{
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        margin-top: 7px;
        margin-right: 15px;
        width: 35px;
        height: 35px;
    }
    
    a{
        color: #FFF;
        font-family: Oswald;
        font-size: 24px;
        font-weight: 400;
    }
}

.modal__button_add_to_cart:hover{
    transform: scale(1.1);
}

.modal__add_to_wishlist{
    @include button($width: 245px, $height: 56px, $background-color: #fff, $border: 1px solid #000);

    img{
        margin-top: 7px;
        margin-right: 15px;
        width: 35px;
        height: 35px;
    }

    a{
        color: #B93B54;
        font-family: Oswald;
        font-size: 24px;
        font-weight: 400;
    }
}

.modal__add_to_wishlist:hover{
    transform: scale(1.1);
}

.modal__social_buttons{
    margin-top: 24px;

    button{
        border: none;
        margin-right: 20px;
        background: #FFF;
    }

    img{
        width: 30px;
        height: 30px;
    }

    a{
        background: #FFF;
    }
}


//



// Модальне вікно пошуку


.search_result__backgroung{
    width: 800px;
    height: 300px;
    position: absolute;
    right: 7rem;
    top: 6.5rem;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.07), 0 1px 5px 1px rgba(0,0,0,0.12);
    border-radius: 2px;
    display: none;
    z-index: 1;
}

.search_result__container{
    width: 100%;
    overflow: auto;

    .search_result__title{
        border-bottom: 1px solid #ededed;
        opacity: 0.6;
        font-size: 11px;
        color: #464646;
        line-height: 11px;
        margin: 0 16px 10px;
        padding: 16px 0;
    }
}

.rotated_rectrangle{
    width: 16px;
    height: 16px;
    box-shadow: 2px -2px 3px 0 rgba(0,0,0,0.1);
    position: absolute;
    top: -8px;
    left: 715px;
    transform: rotate(315deg);
    background-color: white;
}

.search_result__content{
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

.search_product__card{
    display: flex;
    align-items: center;
    width: 30%;
    cursor: pointer;

    .img_wrapper{
        margin-right: 15px;

        img{
            width: 100px;
            height: auto;
        }
    }

    .search_product__title{
        font-size: 13px;
    }
}

.search_product__description{
    line-height: 1.7;
}

.search_product__brand{
    opacity: 0.6;
}

//


// Сторінка BRANDS

.page_content__title{
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.25px;
    font-size: 25px;
    color: #444;
    margin-top: 30px;
}

.brands_container{
    margin: 60px 100px 100px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;

    .brand_card{
        width: 260px;
        height: 225px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 65px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .brand_logo{
        width: 260px;
        height: 250px;
        display: flex;
        align-items: center;

        img{
            width: 100%;
        }
    }

    .brand_title{
        text-align: center;
        font-size: 15px;
        font-weight: 700;
        margin-top: 10px;
    }
}

//


// email subscribe

.message_text{
    display: none;
    color: rgb(86 217 164);
}

//


@media (min-width: 768px) and (max-width: 1420px){
    header{
        margin: 33px 15px;
    }

    .logo{
        img{
            width: 175px;
        }
    }

    .nav{
        margin-left: inherit;
        gap: 30px;
    }

    .search{
        width: 100px;

        a{
            margin-left: 13px;
        }

        input{
            width: 50px;
        }

        input::placeholder{
            color: transparent;
        }

        
    }

    .search_result__backgroung{
        width: 330px;
        right: 2rem;
        top: 6rem;

        .rotated_rectrangle{
            left: 270px;
        }

        .search_product__card{
            width: 100%;
        }
    }

    .best_selling_box{

        .text_content__container{
            margin-right: 50px;
        }
    }

    .best_selling_box .text_content__container h2{
        width: 100%;
        font-size: 40px;
    }
    
    .best_selling_box .text_content__container span{
        font-size: 20px;
    }

    .now_off__1__card{
        width: 170px;
        height: 400px;

        .now_off__1__img{
            img{
                width: 152px;
                height: 142px;
            }
        }

        .now_off__1__prod_name{
            font-size: 17px;
            width: 140px;
        }

        .now_off__1__now_off__1__prod_stars{
            text-align: center;

            img{
                width: 130px;
            }
        }

        .button__add_to_cart{
            button{
                margin-top: 15px;
            }
        }
    }

    .sale_prod_and_new_prod__box{
        justify-content: space-evenly;
    }

    .sale_prod__container{
        width: 350px;  
        margin-right: 0;
        margin-left: 0;
    }

    .new_prod__container{
        width: 350px;
        margin-right: 0;
    }

    .sale_prod_and_new_prod__card{
        width: 91%;

        .sale_prod_and_new_prod__img_container{
            width: 349px;

            span{
                font-size: 22px;
                left: 65px;
            }
        }
    }

    .sale_prod_and_new_prod__img_container :nth-child(1){
        width: 350px;
        height: 400px;
    }

    .sale_prod_and_new_prod__img_container :nth-child(2){
        width: 100%;
    }

    .sale_prod_and_new_prod__description{
        width: 350px;
    }

    .sale_prod_and_new_prod__card :last-child{
        width: 350px;

        button{
            width: 100%;
        }
    }

    .stay_in_trend_box__top_title{
        width: 100%;
        font-size: 50px;
        text-align: center;
    }

    .stay_in_trend__card{
        width: 25%;
        height: 265px;

        img{
            width: 140px;
            height: 145px;
        }

        span{
            font-size: 17px;
            height: 40px;
            text-align: center;
            margin: 1px;
        }

        button{
            width: 85%;
            height: 38px;
            font-size: 12px;
        }
    }

    .original_pant{
        background-size: 100% 100%;
    }

    .family_legacy_box{
        
        span{
            text-align: center;
        }
    }

    .back_to_top{
        top: 100px;
        right: 70px;

        img{
            width: 65px;
        }
    }

    .ordering_online{
        margin: 50px 0 50px 10px;
    }

    .get_to_know_us{
        width: 220px;
        margin-right: 10px;

        .mail_container{
            width: 205px;
            height: 65px;

            input{
                width: 125px;
                height: 62px;
                font-size: 13px;
            }

            button{
                width: 65px;

                a{
                    width: 65px;
                    font-size: 13px;
                }
            }
        }
    }

    .modal__title{
        font-size: 25px;
    }

    .modal__prod_stars{
        margin-top: 5px;
        margin-bottom: 5px;

        img{
            height: 15px;
        }
    }

    .modal__price{
        font-size: 15px;
    }

    .modal__prod_colors{
        margin-top: 5px;

        span{
            font-size: 15px;
        }
    }

    .modal__prod_size{
        span{
            font-size: 15px;
        }
    }

    .modal__rectangle{
        width: 41px;
        height: 27px;
    }


    .modal__add_buttons{
        flex-direction: column;

        a{
            font-size: 15px;
            justify-content: flex-start;
        }    
    }

    .modal__button_add_to_cart{
        width: 240px;
        height: 40px;
        margin-top: 10px;

        img{
            margin-left: 10px;
        }
    }
    

    .modal__add_to_wishlist{
        width: 240px;
        height: 40px;
        margin-top: 10px;

        img{
            margin-top: 0;
            margin-left: 10px;
        }
    }

    .modal__social_buttons{
        margin-top: 15px;
    }
    
}

@media (min-width: 1010px) and (max-width: 1420px){
    header{
        margin: 33px 15px;
    }

    .logo{
        img{
            width: 200px;
        }
    }

    .nav{
        margin-left: inherit;
        gap: 30px;
    }

    .search{
        width: 150px;

        a{
            margin-left: 13px;
        }

        input{
            width: 100px;
        }
    }

    .search_result__backgroung{
        width: 330px;
        right: 2rem;
        top: 6rem;

        .rotated_rectrangle{
            left: 270px;
        }

        .search_product__card{
            width: 100%;
        }
    }


    .now_off__1__card{
        width: 215px;
        height: 400px;
    }

    .modal_menu{
        width: 100%;
    }

    .modal__content_container{
        padding: 30px;
    }

    .modal__add_buttons{
        margin-top: 15px;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
    }

    .modal__button_add_to_cart{
        margin-top: 0;
        width: 180px;
    }

    .modal__add_to_wishlist{
        margin-top: 0;
        width: 180px;
    }

}

@media (min-width: 1200px) and (max-width: 1420px){
    .logo{
        img{
            width: 230px;
        }
    }

    .search{
        width: 180px;

        input{
            width: 130px;
        }
    }


    .now_off__1__card{
        width: 250px;
        height: 400px;
    }

    .modal_menu{
        justify-content: space-around;

        .modal__content_container{
            display: flex;
            flex-direction: column;
            width: 35%;
        }
    }
}

@media (min-width: 1320px) and (max-width: 1420px){
    .logo{
        img{
            width: 270px;
        }
    }

    .search{
        width: 200px;

        input{
            width: 145px;
        }
    }

    .now_off__1__card{
        width: 285px;
    }

    .back_to_top{
        img{
            width: 70px;
        }
    }
}
